@page "/"

@using PdfMetadataEditor.Enums
@using PdfMetadataEditor.Model

<FluentToolbar Class="toolbar" id="toolbar-fluent-components">
    <FluentButton Disabled="tocButtonsDisabled" OnClick="addNewEntry" Appearance="Appearance.Accent" IconStart="@(new Icons.Regular.Size20.BookmarkAdd())" Title="New Outline Entry" />
    <FluentButton Disabled="tocButtonsDisabled" OnClick="deleteEntry" Appearance="Appearance.Accent" IconStart="@(new Icons.Regular.Size20.BookmarkOff())" Title="Delete Selected Outline Entry" />
    <FluentButton id="confirmButton" Disabled="tocButtonsDisabled" Appearance="Appearance.Accent" IconStart="@(new Icons.Regular.Size20.BookmarkOff())"
    BackgroundColor="var(--error)"
    Title="Delete Outline Tree"
    @onclick="() => isConfirmPopoverOpen = !isConfirmPopoverOpen" />
    <FluentButton Disabled="tocButtonsDisabled" OnClick="expandAll" Appearance="Appearance.Accent" IconStart="@(new Icons.Regular.Size20.ArrowExpandAll())" Title="Expand All" />
    <FluentButton Disabled="tocButtonsDisabled" OnClick="collapseAll" Appearance="Appearance.Accent" IconStart="@(new Icons.Regular.Size20.ArrowCollapseAll())" Title="Collapse All" />
    <FluentButton OnClick="SaveAndReloadPdf" Appearance="Appearance.Accent" IconStart="@(new Icons.Regular.Size20.Save())" Title="Save Changes" />
    <FluentButton OnClick="DownloadPdf" Appearance="Appearance.Accent" IconStart="@(new Icons.Regular.Size20.ArrowDownload())" Title="Save PDF to Disk" />
    <FluentButton OnClick="ExportChanges" Appearance="Appearance.Accent">JSON Export</FluentButton>
    <FluentButton Id="ImportButton" Appearance="Appearance.Accent">JSON Import</FluentButton>
    <FluentCheckbox @bind-Value=disablePageJump Label="Disable Page Jump" />
    <FluentInputLabel ForId="i1" Orientation="Orientation.Horizontal">Page Offset</FluentInputLabel>
    <FluentNumberField Id="i1" Immediate="true" Size="2" @bind-Value=pageOffset />
    <FluentInputLabel ForId="s1" Orientation="Orientation.Horizontal">Backend</FluentInputLabel>
    <FluentSelect Width="18%" Id="s1" Class="backendSelect" @bind-Disabled=isEditorInitialized SelectedOptionChanged="onBackendSelectionChanged"
    Items="@backendOptions"
    TOption="Option<PdfEditorBackendEnum>"
    OptionText="@(o => o.Text)"
    OptionValue="@(o => o.Value.ToString())" />
    <FluentButton slot="end" OnClick="() => isHelpOverlayOpen = true" Appearance="Appearance.Accent" IconStart="@(new Icons.Regular.Size20.Question())" Title="Help" />
</FluentToolbar>

<FluentSplitter Orientation="Orientation.Horizontal" BarSize="14" Panel1Size="40%" Panel1MinSize="30%" Panel2MinSize="45%" Style="height: 100%">
    <Panel1>
        <FluentTabs OnTabChange="onTabChanged">
            <FluentTab Label="TOC Editor" Icon="@(new Icons.Regular.Size24.DocumentTextLink())" Id="tab-1">
                @if (!showPdfViewer)
                {
                    <FluentCard Style="width: 95%; height: 80%; padding: 10px; margin: 10px;">
                        <FluentIcon Value="@(new Icons.Regular.Size24.TextBulletListTree())" Width="120" Color="Microsoft.FluentUI.AspNetCore.Components.Color.Disabled" />
                    </FluentCard>
                }
                <Tree @ref="tree"
                DefaultExpandAll
                Draggable
                BlockNode
                ShowLeafIcon="false"
                ShowLine="true"
                DataSource="entries"
                TitleExpression="x => x.DataItem.Heading"
                ChildrenExpression="x => x.DataItem.SubHeadings"
                IsLeafExpression="x => x.DataItem.SubHeadings?.Count == 0"
                KeyExpression="x => x.DataItem.Id"
                TItem="Entry"
                OnSelect="onSelect"
                OnDrop="onDrop">

                    <TitleTemplate>
                        <GridRow Wrap="true">
                            <GridCol Flex=@("auto")>
                                @if (lastEditNodeId == context.DataItem.Id)
                                {
                                    <AntDesign.TextArea OnKeyDown="onEscDown" AutoSize="true" BindOnInput="true" Rows="1" @bind-Value="context.DataItem.Heading" AutoFocus="true" @onblur="() => onEditEnd()" />
                                }
                                else
                                {
                                    <span @onclick="() => onClickGoToPage(context.DataItem.PageNo)" @ondblclick="() => onDoubleClick2(context.DataItem.Id)">@context.DataItem.Heading</span>
                                }
                            </GridCol>
                            <GridCol Flex=@("100px")>
                                <AntDesign.InputNumber @bind-Value="context.DataItem.PageNo" Min="1" Max="pdfEditor.LastPageNumber" PlaceHolder="Page Number" />
                            </GridCol>
                        </GridRow>
                    </TitleTemplate>
                </Tree>
            </FluentTab>
            <FluentTab Label="Metadata Editor" Icon="@(new Icons.Regular.Size24.TextColumnThree())" Id="tab-2">
                <FluentStack Orientation="Orientation.Vertical" VerticalAlignment="VerticalAlignment.Center">
                    <FluentTextArea Label="Title:" @bind-Value="@metadata.Title" Cols="115" Rows="1" Resize="TextAreaResize.Vertical" Spellcheck="true" />
                    <FluentTextArea Label="Author:" @bind-Value="@metadata.Author" Cols="115" Rows="1" Resize="TextAreaResize.Vertical" Spellcheck="true" />
                    <FluentTextArea Label="Subject:" @bind-Value="@metadata.Subject" Cols="115" Rows="4" Resize="TextAreaResize.Vertical" Spellcheck="true" />
                    <FluentTextArea Label="Keywords:" @bind-Value="@metadata.Keywords" Cols="115" Rows="1" Resize="TextAreaResize.Vertical" Spellcheck="true" />
                    <FluentTextArea Label="Creator:" @bind-Value="@metadata.Creator" Cols="115" Rows="1" Resize="TextAreaResize.Vertical" Spellcheck="true" />
                    <FluentTextArea Label="Producer:" @bind-Value="@metadata.Producer" Cols="115" Rows="1" Resize="TextAreaResize.Vertical" Disabled="true" />
                    <FluentStack Orientation="Orientation.Horizontal" HorizontalGap="48">
                        <FluentStack Orientation="Orientation.Vertical">
                            <FluentLabel>Creation Date:</FluentLabel>
                            <FluentStack Orientation="Orientation.Horizontal">
                                <FluentDatePicker @bind-Value="@metadata.CreationDate" />
                                <FluentTimePicker @bind-Value="@metadata.CreationDate" />
                            </FluentStack>
                        </FluentStack>
                        <FluentStack Orientation="Orientation.Vertical">
                            <FluentLabel>Modification Date:</FluentLabel>
                            <FluentStack Orientation="Orientation.Horizontal">
                                <FluentDatePicker @bind-Value="@metadata.ModificationDate" />
                                <FluentTimePicker @bind-Value="@metadata.ModificationDate" />
                            </FluentStack>
                        </FluentStack>
                    </FluentStack>
                </FluentStack>
            </FluentTab>
        </FluentTabs>
    </Panel1>
    <Panel2>
        <FluentInputFile Id="my-file-uploader"
        Mode="InputFileMode.Stream"
        Multiple="false"
        MaximumFileCount="1"
        MaximumFileSize="@(250*1024*1024)"
        Accept=".pdf"
        OnCompleted="@OnFileUploadCompletedAsync"
        Style="height: 110px; margin-left: 10px">
            <ChildContent>
                <label style="margin-top: 10px" for="my-file-uploader">
                    <FluentIcon Value="@(new @Icons.Regular.Size24.ArrowUpload())" />
                </label>

                <div>
                    Drag PDF file here you wish to edit,
                    or <label for="my-file-uploader">browse</label>
                    for them.
                    <br />
                </div>
            </ChildContent>
        </FluentInputFile>
        @if (showPdfViewer)
        {
            <iframe src="@blobUri" @key="@blobUri" style="width: 95%; height: 80%; margin: 16px" frameborder="0"></iframe>
        }
        else
        {
            <FluentCard Style="width: 95%; height: 80%; margin: 16px; display: flex; justify-content: center;">
                <FluentIcon Value="@(new Icons.Regular.Size32.DocumentPdf())" Width="120" Color="Microsoft.FluentUI.AspNetCore.Components.Color.Disabled" />
            </FluentCard>
        }
    </Panel2>
</FluentSplitter>

<FluentOverlay @bind-Visible=@isSaving @key="@isSaving"
Opacity="0.4"
BackgroundColor="#7c8491"
FullScreen="true"
Dismissable="false"
PreventScroll=true>
    <ChildContent>
        <FluentCard>
            <FluentLabel Weight="FontWeight.Bolder" Typo="Microsoft.FluentUI.AspNetCore.Components.Typography.Body">
                Saving Changes...
            </FluentLabel>
        </FluentCard>
    </ChildContent>
</FluentOverlay>

<FluentOverlay @bind-Visible=@isHelpOverlayOpen
Opacity="0.4"
FullScreen="false"
Dismissable="true"
PreventScroll=true>
    <ChildContent>
        <FluentCard Width="850px" Height="575px">
            <FluentLabel Style="padding-bottom: 12px" Typo="Microsoft.FluentUI.AspNetCore.Components.Typography.H1">Toolbar Help</FluentLabel>
            <FluentStack Orientation="Orientation.Vertical" >
                <FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Center">
                    <FluentButton Appearance="Appearance.Accent" IconStart="@(new Icons.Regular.Size20.BookmarkAdd())" Title="New Outline Entry"></FluentButton>
                    <FluentLabel Typo="Microsoft.FluentUI.AspNetCore.Components.Typography.Body">Adds a new outline node at the same level after the "selected" node.</FluentLabel>
                </FluentStack>
                <FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Center">
                    <FluentButton Appearance="Appearance.Accent" IconStart="@(new Icons.Regular.Size20.BookmarkOff())" Title="Delete Selected Outline Entry"></FluentButton>
                    <FluentLabel Typo="Microsoft.FluentUI.AspNetCore.Components.Typography.Body">Deletes the selected node.</FluentLabel>
                </FluentStack>
                <FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Center">
                    <FluentButton Appearance="Appearance.Accent" IconStart="@(new Icons.Regular.Size20.BookmarkOff())" BackgroundColor="var(--error)" Title="Delete Outline Tree" />
                    <FluentLabel Typo="Microsoft.FluentUI.AspNetCore.Components.Typography.Body">Clears the whole outline tree.</FluentLabel>
                </FluentStack>
                <FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Center">
                    <FluentButton Appearance="Appearance.Accent" IconStart="@(new Icons.Regular.Size20.ArrowExpandAll())" Title="Expand All" />
                    <FluentLabel Typo="Microsoft.FluentUI.AspNetCore.Components.Typography.Body">Expands all nodes.</FluentLabel>
                </FluentStack>
                <FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Center">
                    <FluentButton Appearance="Appearance.Accent" IconStart="@(new Icons.Regular.Size20.ArrowCollapseAll())" Title="Collapse All" />
                    <FluentLabel Typo="Microsoft.FluentUI.AspNetCore.Components.Typography.Body">Collapses all nodes.</FluentLabel>
                </FluentStack>
                <FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Center">
                    <FluentButton Appearance="Appearance.Accent" IconStart="@(new Icons.Regular.Size20.Save())" Title="Save Changes"></FluentButton>
                    <FluentLabel Typo="Microsoft.FluentUI.AspNetCore.Components.Typography.Body">Writes the outline and metadata back to the file and reloads the PDF document.</FluentLabel>
                </FluentStack>
                <FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Center">
                    <FluentButton Appearance="Appearance.Accent" IconStart="@(new Icons.Regular.Size20.ArrowDownload())" Title="Save PDF to Disk"></FluentButton>
                    <FluentLabel Typo="Microsoft.FluentUI.AspNetCore.Components.Typography.Body">Saves the PDF document to PC.</FluentLabel>
                </FluentStack>
                <FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Center">
                    <FluentButton Appearance="Appearance.Accent">JSON Export</FluentButton>
                    <FluentLabel Typo="Microsoft.FluentUI.AspNetCore.Components.Typography.Body">
                        Exports toc and metadata fields.
                    </FluentLabel>
                </FluentStack>
                <FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Center">
                    <FluentButton Appearance="Appearance.Accent">JSON Import</FluentButton>
                    <FluentLabel Typo="Microsoft.FluentUI.AspNetCore.Components.Typography.Body">
                        Imports the exported json file. This will <b>override</b> the fields at the current tabs.
                    </FluentLabel>
                </FluentStack>
                <FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Center">
                    <FluentCheckbox Value="true" ReadOnly="true" />
                    <FluentLabel Typo="Microsoft.FluentUI.AspNetCore.Components.Typography.Body">
                        <b>Disable Page Jump</b> Controls whether the PDF viewer will jump to the relevant page when the title is clicked in the TOC editor.
                    </FluentLabel>
                </FluentStack>
                <FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Center">
                    <FluentLabel Typo="Microsoft.FluentUI.AspNetCore.Components.Typography.Body">
                        <b>Page Offset:</b> Adjusts page numbers while saving the file. Useful if the in-book Table of Contents does not
                        correspond to the scanned PDF pages.
                    </FluentLabel>
                </FluentStack>
                <FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Center">
                    <FluentLabel Typo="Microsoft.FluentUI.AspNetCore.Components.Typography.Body">
                        <b>Backend:</b> Specifies the pdf editor backend. Some backends may be less lenient towards malformed PDF files.
                    </FluentLabel>
                </FluentStack>
            </FluentStack>
        </FluentCard>
    </ChildContent>
</FluentOverlay>

<FluentPopover Style="width: 300px;" VerticalThreshold="170" AnchorId="confirmButton" @bind-Open="isConfirmPopoverOpen">
    <Header>Confirmation</Header>
    <Body>
        <FluentLabel>Do you want to clear the outline tree?</FluentLabel>
    </Body>
    <Footer>
        <FluentStack HorizontalAlignment="HorizontalAlignment.Right" Orientation="Orientation.Horizontal">
            <FluentButton OnClick="clearOutline" Appearance="Appearance.Accent" Title="Yes">Yes</FluentButton>
            <FluentButton OnClick="() => isConfirmPopoverOpen = false" Title="No">No</FluentButton>
        </FluentStack>
    </Footer>
</FluentPopover>

<FluentInputFile
DragDropZoneVisible="false"
Mode="InputFileMode.Stream"
Multiple="false"
AnchorId="ImportButton"
MaximumFileSize="@(10 * 1024 * 1024)"
Accept=".json"
OnCompleted="@ImportChanges" />

<style>
    .toolbar {
    padding-right: 10px;
    width: 100%;
    position: sticky;
    top: 1px;
    z-index: 992;
    border: 1px dotted var(--accent-fill-rest);
    border-radius: 5px;
    margin-bottom: 8px;
    }
</style>